.elemento {
  /* border: green solid; */
  display: flex;
  flex-direction: column-reverse;
}

.elemento > div {
  /* border: dotted yellow thin; */
  /* border: solid rgb(44, 43, 43); */
  border-radius: 5px;
  margin: 5px 5px;
  background-color: rgba(150, 146, 146, 0.308);
}
