.listas {
  margin-top: 25px;
  height: auto;
  /* width: auto; */
  border: solid rgba(0, 0, 0, 0.295);
  border-radius: 20px;
  display: flex;
  min-height: 470px;
}

.listas > div {
  width: 100%;
  margin: 10px;
  border: solid rgba(7, 7, 15, 0.425);
  border-radius: 15px;
}

/* .done {
  height: 200px;
  width: 40%;
  border: solid black;
} */
